server {
    server_name {{ domain_name }} www.{{ domain_name }};
    access_log {{ log_folder }}/access.log;
    error_log {{ log_folder }}/error.log;
    root {{ root_folder }};
    index index.html index.htm index.php;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }


    location ~ .php$ {
        try_files $uri $uri/ =404;
        fastcgi_split_path_info ^(.+.php)(/.+)$;
        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    listen {{ https_port }} ssl; # managed by Certbot
    ssl_certificate {{ ssl_folder }}/live/{{ domain_name }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key {{ ssl_folder }}/live/{{ domain_name }}/privkey.pem; # managed by Certbot
    include {{ ssl_folder }}/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam {{ ssl_folder }}/ssl-dhparams.pem; # managed by Certbot

    location ~ ^/phpmyadmin {
        rewrite ^/* /phpMyAdmin last;
    }
    location ~ ^/pma {
        rewrite ^/* /phpMyAdmin last;
    }
    location ^~ /phpMyAdmin/log/ {
        deny all;
    }
    location ^~ /phpMyAdmin/libraries/ {
        deny all;
    }
    location ^~ /phpMyAdmin/templates/ {
        deny all;
    }
    location ^~ /phpMyAdmin/tmp/ {
        deny all;
    }


}
server {
    if ($host = www.{{ domain_name }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = {{ domain_name }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen {{ http_port }};
    server_name {{ domain_name }} www.{{ domain_name }};
    return 404; # managed by Certbot

}